extends ../layout.pug

block vars
  - title = "Video Game Corner"

prepend content
  h1.title Video Game Corner
  hr
  p.
    Permainan video (Video Game) telah menjadi bagian dari kehidupan generasi sekarang.
    Semenjak berkembang pesatnya teknologi perangkat keras, perkembangan permainan video juga berkembang seiring kemajuan jaman.
    Permainan video mungkin menjadi salah satu pintu gerbang terbukanya minat anak di dunia teknologi.
    Tidak sedikit seseorang belajar bahasa pemrograman demi menciptakan game buatannya sendiri.
  .row
    .col-sm-6.col-sm-offset-3
      .thumbnail
        img(src="/assets/img/games-03.jpg", alt="gamedev", srcset="")
  p.
    Video game tidak hanya sekedar permainan yang dimainkan sendiri (Single Player) saja,
    tetapi masih banyak jenis permainan yang dimainkan berdua, beregu / tim, bahkan secara ramai (Massive Multiplayer Online).
    Bahkan permainan video telah menjadi suatu cabang olahraga tersendiri.
  .row
    .col-sm-6.col-sm-offset-3
      .thumbnail
        img(src="/assets/img/games-02.jpg", alt="esport", srcset="")
  p.
    Di booth MOF.JS kami menyediakan seperangkat PC dengan beberapa peralatan untuk bermain Video Game.
    Kami juga sediakan beberapa software video game yang telah terpasang sehingga dapat langsung dimainkan.
  .row
    .col-sm-6.col-sm-offset-3
      .thumbnail
        img(src="/assets/img/games-01.jpg", alt="game-list", srcset="")
  p Silakan kunjungi booth kami untuk bermain bersama dengan keluarga dan/atau sesama temankeu lainnya.