extends ../layout.pug

block vars
  - title = "Perkenalan"

prepend content
  hr
  h1 Tentang MOF.JS 
  p MOF.JS adalah komunitas penggiat teknologi di Kementerian Keuangan yang beranggotakan para pegawai Kementerian Keuangan. Melalui komunitas ini, pegawai dapat saling bertukar informasi, sharing knowledge, bertanya jawab berbagai permasalahan mengenai perkembangan teknologi informasi terkini dengan nuansa non formal yang menyenangkan. Pertemuan awal komunitas ini dilaksanakan pada bulan Oktober 2018 dan saat ini rutin untuk melaksanakan pertemuan setiap pekan. Selain itu, dalam beberapa kesempatan komunitas ini juga rutin untuk ikut menghadiri kegiatan meet up tech enthusiast yang sering diadakan wilayah Jakarta. 
  p Anggota MOF.JS saat ini berkisar 27 orang yang berasal dari berbagai macam unit di Lingkungan Kementerian Keuangan. 