extends ../layout.pug

block vars
  - title = "Find us"

block content
  h1.title Lokasi Booth Kami
  .col-sm-6
    .thumbnail
      img(src="/assets/img/map1.jpeg", alt="", srcset="")

  .col-sm-6
    .thumbnail
      img(src="/assets/img/map2.jpeg", alt="", srcset="")