extends ../layout.pug

block vars
  - title = "Sticker"

block content
  h1.title Ayo dapatkan sticker-sticker lucu ini!
  .col-sm-6
    .thumbnail
      img(src="/assets/img/sticker-01.jpg", alt="", srcset="")
  .col-sm-6
    h1.text-center Desain keren dengan gambar-gambar lucu
    h1.text-center Cocok banget kamu tempel di laptop biar makin keren.